html {
  height: 100vh;
}
body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  max-height: 100vh;
  height: 100vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.half-width {
  display: inline-block;
  width: 50%;
  height: 99vh;
  overflow-y: scroll;
}

.half-width.json-source {
  padding: 10px;
  background-color: rgb(39, 40, 34);
  font-size: 12px;
}
