html {
  height: 100vh;
}
body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  max-height: 100vh;
  height: 100vh;
}
.display-container {
  height: 100vh;
  background-color: rgb(39, 40, 34);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.half-width {
  display: inline-block;
  position: relative;
  width: 60%;
  height: 100vh;
  overflow-y: scroll;
  transition: all 0.2s linear;
}
.half-width.json-source {
  width: 40%;
  padding: 10px;
  background-color: rgb(39, 40, 34);
  font-size: 12px;
}

.half-width.full {
  width: 100%;
}
.half-width.shrink {
  display: none;
  width: 0%;
}

.btn-group-toggle {
  background: #fff;
  border-bottom: 1px solid #ddd;
  line-height: 12px;
}

.btn-group-toggle .title,
.btn-group-toggle button {
  font-size: 12px;
  font-weight: bold;
  display: inline-block;
}

.btn-group-toggle .title {
  padding: 4px 10px;
  background: #009688;
  color: #fff;
}

.btn-group-toggle img {
  height: 100%;
}

.btn-group-toggle input,
.btn-group-toggle button {
  padding: 4px 10px;
  float: right;
  border: none;
  border-left: 1px solid #ddd;
  cursor: pointer;
}

.btn-group-toggle input {
  padding: 1px;
  cursor: text;
  width: 40px;
  text-align: center;
}
