/* add css module styles here (optional) */

@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@400;600;700&family=Roboto+Condensed:wght@300;400&display=swap');

.leaflet {
  margin-top: 20px;
  height: 300px;
  width: 100%;
}

.container {
  position: relative;
  font-family: 'Roboto Condensed', sans-serif;
  background: #fff;
}

.form-header {
  padding: 0px 20px;
  background: #fff;
}
.form-header.sticky {
  top: 0px;
  position: sticky;
  position: -webkit-sticky;
  min-width: 100%;
  z-index: 1001;
  border-bottom: 1px solid #f0f0f0;
}
.form-header h1 {
  font-family: 'Assistant', sans-serif;
  line-height: 58px;
  padding: 0px;
  margin: 0px;
  font-size: 18px;
  font-weight: bold;
}

.form-header h1,
.field-group .field-group-header,
.sidebar .sidebar-list.active,
.sidebar .sidebar-header {
  color: #6a6a6a;
}

.form-header button {
  float: right;
}

.sidebar {
  border-top: 1px solid #f0f0f0;
}

.sidebar.sticky {
  border: none;
  top: 60px;
  position: sticky;
  position: -webkit-sticky;
  height: fit-content;
}

.sidebar .sidebar-header {
  text-transform: uppercase;
}

.sidebar .sidebar-list {
  cursor: pointer;
  font-family: 'Assistant', sans-serif;
  padding: 10px 20px;
  font-size: 14px;
}

.sidebar .sidebar-list.active {
  background: #f3f3f3;
  font-weight: bold;
}

.sidebar .sidebar-list.complete {
  color: green;
}

.sidebar .sidebar-list .icon {
  margin-right: 10px;
  padding: 0px;
  margin-bottom: -2px;
}

.field-group .field-group-header,
.sidebar-header {
  font-family: 'Assistant', sans-serif;
  font-size: 14px;
  font-weight: bold;
  padding: 0px 20px;
}
.field-group p.description {
  font-family: 'Assistant', sans-serif;
  font-size: 14px;
  margin: 0px 20px 20px;
}

.field-group .field {
  font-family: 'Assistant', sans-serif;
  padding: 0px 20px 10px;
}

.field-group .repeat-title.field-group-bottom-button {
  padding: 0;
}
.field-group .repeat-title.field-group-bottom-button button {
  padding: 7px 25px;
  height: 46px;
}

.field.field-geo {
  display: none !important;
}
.field-group .field {
  margin: 0px;
}
.field-group .field .field-child {
  padding: 0px 0px 10px;
  margin: 0px;
}

.field-geo {
  font-family: 'Assistant', sans-serif;
}

.field.field-map {
  padding: 0px;
  margin-top: -55px;
}

.field-group.hidden {
  display: none;
}

.next {
  border-left: 1px solid #f0f0f0;
  padding: 20px 50px;
}
.next button {
  border: none;
  background-color: #888;
  color: #fff;
}

.next button:hover {
  background-color: #222;
  color: #fff;
}

div.repeat-title {
  margin: 20px -25px;
  padding: 7px 45px;
  background-color: #f0f0f0;
  height: 46px;
  line-height: 30px;
}

button.repeat-delete-btn {
  color: #6a6a6a;
  font-size: 20px;
}
button.repeat-delete-btn:focus {
  color: #6a6a6a;
}
button.repeat-delete-btn:hover {
  color: #222;
}
button.repeat-delete-btn .icon {
  font-size: 18px;
}

.repeat-input {
  font-weight: normal;
  display: inline-block;
  margin-top: 8px;
}

.repeat-input .field-title,
.repeat-input .field {
  display: inline-block;
  vertical-align: top;
  border: 1px solid #6a6a6a;
  width: unset;
}

.repeat-input .field-title {
  padding: 4px 8px;
  border-radius: 2px 0px 0px 2px;
  font-weight: bold;
  letter-spacing: 0.2px;
}

.repeat-input .field {
  border-left: none;
  border-radius: 0px 2px 2px 0px;
}

.repeat-input .field {
  padding: 0px;
}

.repeat-input .field button {
  padding: 5px;
  border: none !important;
  background: #6a6a6a;
  color: #fff;
  margin: 4px;
  border-radius: 2px;
  height: 22px;
  width: 22px;
  font-weight: bold;
}

.repeat-input .field button.disabled {
  background: #d9d9d9;
}

.field-group .sticky {
  background-color: #fff;
  position: sticky;
  position: -webkit-sticky;
  top: 0;
}
.field-cascade-api {
  padding: 0px;
  margin-top: -55px;
}
.field-cascade-list {
  margin-bottom: 10px;
}
.field-cascade-list:last-child {
  margin-bottom: 20px;
}
.cascade-api-select {
  margin: 0px;
  width: 100%;
}
.extra-before {
  margin-bottom: 10px;
}
.extra-after {
  margin-top: 10px;
}
.tag-tree {
  height: 24px;
  margin-top: 2px;
  margin-bottom: 2px;
  line-height: 22px;
  background: #f5f5f5;
  border: 1px solid #f0f0f0;
  border-radius: 2px;
  margin-right: 3px;
}
