/* add css module styles here (optional) */

@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@400;600;700&family=Roboto+Condensed:wght@300;400&display=swap');

.leaflet {
  margin-top: 10px;
  height: 300px;
  width: 100%;
}

.container {
  font-family: 'Roboto Condensed', sans-serif;
  background: #fff;
}

.form-header {
  padding: 0px 20px;
  border-bottom: 1px solid #f0f0f0;
}
.form-header h1 {
  font-family: 'Assistant', sans-serif;
  line-height: 58px;
  padding: 0px;
  margin: 0px;
  font-size: 18px;
  font-weight: bold;
}

.field-group .field-group-header,
.sidebar-header {
  font-family: 'Assistant', sans-serif;
  font-size: 14px;
  font-weight: bold;
  padding: 0px 20px;
}

.form-header h1,
.field-group .field-group-header,
.sidebar-list.active,
.sidebar-header {
  color: #6a6a6a;
}

.sidebar-list {
  cursor: pointer;
  font-family: 'Assistant', sans-serif;
  padding: 10px 20px;
  font-size: 14px;
}
.sidebar-list.active {
  background: #f3f3f3;
  font-weight: bold;
}

.sidebar-header {
  text-transform: uppercase;
}

.field-group .field {
  font-family: 'Assistant', sans-serif;
  padding: 0px 20px 10px;
}

.field.field-geo {
  display: none !important;
}

.field.field-map {
  margin-top: -65px;
}

.field-group.hidden {
  display: none;
}

.submit.bottom {
  padding: 0px 20px;
}
