/* add css module styles here (optional) */

@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@400;600;700&family=Roboto+Condensed:wght@300;400&display=swap');

.leaflet {
  margin-top: 20px;
  height: 300px;
  width: 100%;
}

.container {
  position: relative;
  font-family: 'Roboto Condensed', sans-serif;
  background: #fff;
}

.form-header {
  padding: 0px 20px;
  background: #fff;
}
.form-header.sticky {
  top: 0px;
  position: sticky;
  position: -webkit-sticky;
  min-width: 100%;
  z-index: 1001;
  border-bottom: 1px solid #f0f0f0;
}
.form-header h1 {
  font-family: 'Assistant', sans-serif;
  line-height: 58px;
  padding: 0px;
  margin: 0px;
  font-size: 18px;
  font-weight: bold;
}
.form-header p {
  font-size: 14px;
  margin-top: -10px;
}

.form-header h1,
.field-group .field-group-header,
.sidebar .sidebar-list.active,
.sidebar .sidebar-header {
  color: #6a6a6a;
}

.form-header button {
  float: right;
}

.sidebar {
  border-top: 1px solid #f0f0f0;
}

.sidebar.sticky {
  border: none;
  top: 60px;
  position: sticky;
  position: -webkit-sticky;
  height: fit-content;
}

.sidebar .sidebar-header {
  text-transform: uppercase;
}

.sidebar .sidebar-list {
  cursor: pointer;
  font-family: 'Assistant', sans-serif;
  padding: 10px 20px;
  font-size: 14px;
}

.sidebar .sidebar-list.active {
  background: #f3f3f3;
  font-weight: bold;
}

.sidebar .sidebar-list.complete {
  color: green;
}

.sidebar .sidebar-list .icon {
  margin-right: 10px;
  padding: 0px;
  margin-bottom: -2px;
}

.field-group .field-group-header,
.sidebar-header {
  font-family: 'Assistant', sans-serif;
  font-size: 14px;
  font-weight: bold;
  padding: 0px 20px;
}
.field-group .description {
  font-family: 'Assistant', sans-serif;
  font-size: 14px;
  margin: 0px 20px 20px;
}

.field-group .field {
  font-family: 'Assistant', sans-serif;
  padding: 0px 20px 10px;
}

.field-group .repeat-title.field-group-bottom-button {
  padding: 0;
}
.field-group .repeat-title.field-group-bottom-button button {
  padding: 7px 25px;
  height: 46px;
}

.field-label {
  display: flex;
}

.field-label-required-sign {
  margin-right: 4px;
  color: #ff4d4f;
  font-size: 14px;
  font-family: SimSun, sans-serif;
}

.field-label-number {
  margin-right: 5px;
}

.field.field-geo,
.field.field-table {
  display: none !important;
}
.field-group .field {
  margin: 0px;
}
.field-group .field .field-child {
  padding: 0px 0px 10px;
  margin: 0px;
}

.field-table,
.field-geo {
  font-family: 'Assistant', sans-serif;
}

.field.field-map,
.table-data {
  padding: 0px;
}

.table-data {
  margin-top: -55px;
}

.field-group.hidden {
  display: none;
}

.next {
  border-left: 1px solid #f0f0f0;
  padding: 20px 50px;
}
.next button {
  border: none;
  background-color: #888;
  color: #fff;
}

.next button:hover {
  background-color: #222;
  color: #fff;
}

div.repeat-title {
  margin: 20px -25px;
  padding: 7px 45px;
  background-color: #f0f0f0;
  height: 46px;
  line-height: 30px;
}

button.repeat-delete-btn {
  color: #6a6a6a;
  font-size: 20px;
}
button.repeat-delete-btn:focus {
  color: #6a6a6a;
}
button.repeat-delete-btn:hover {
  color: #222;
}
button.repeat-delete-btn .icon {
  font-size: 18px;
}

.repeat-input {
  font-weight: normal;
  display: inline-block;
  margin-top: 8px;
}

.repeat-input .field-title,
.repeat-input .field {
  display: inline-block;
  vertical-align: top;
  border: 1px solid #6a6a6a;
  width: unset;
}

.repeat-input .field-title {
  padding: 4px 8px;
  border-radius: 2px 0px 0px 2px;
  font-weight: bold;
  letter-spacing: 0.2px;
}

.repeat-input .field {
  border-left: none;
  border-radius: 0px 2px 2px 0px;
}

.repeat-input .field {
  padding: 0px;
}

.repeat-input .field button {
  padding: 5px;
  border: none !important;
  background: #6a6a6a;
  color: #fff;
  margin: 4px;
  border-radius: 2px;
  height: 22px;
  width: 22px;
  font-weight: bold;
}

.repeat-input .field button.disabled {
  background: #d9d9d9;
}

.field-group .sticky {
  background-color: #fff;
  position: sticky;
  position: -webkit-sticky;
  top: 0;
}
.field-cascade-api {
  padding: 0px;
}
.field-cascade-list:not(:first-child) {
  margin-top: 10px;
}
.field-cascade-list:nth-last-child(-n + 1):not(:nth-child(2)) {
  margin-bottom: 20px;
}
.cascade-api-select {
  margin: 0px;
  width: 100%;
}
.extra-before {
  margin-bottom: 10px;
}
.extra-after {
  margin-top: 10px;
}
.tag-tree {
  height: 24px;
  margin-top: 2px;
  margin-bottom: 2px;
  line-height: 22px;
  background: #f5f5f5;
  border: 1px solid #f0f0f0;
  border-radius: 2px;
  margin-right: 3px;
}

/* Submission List Drawer */
.submissions-drawer-toggle,
.submissions-drawer-toggle-close {
  width: 6px;
  height: 50px;
  border: 2px solid #6a6a6a;
  cursor: pointer;
  top: 50%;
}
.submissions-drawer-toggle {
  position: fixed;
  left: 4px;
  border-left: none;
}
.submissions-drawer-toggle:hover {
  border: 3px solid #222;
  border-left: none;
}
.submissions-drawer-toggle-close {
  position: absolute;
  right: 4px;
  border-right: none;
}
.submissions-drawer-toggle-close:hover {
  border: 3px solid #222;
  border-right: none;
}
.submissions-drawer-container .ant-drawer-header {
  padding: 16px 0;
}
.submissions-drawer-container .ant-drawer-close:hover,
.ant-drawer-close:focus {
  background: none;
}
.submissions-drawer-container .submission-list-select {
  width: 100%;
}
/* Submission List Drawer */
.draft-list {
  border-bottom: 1px solid rgba(5, 5, 5, 0.06);
  padding: 10px;
}
.draft-list.current {
  border-top: 1px solid #d0d0d0;
  background-color: #e3e3e3;
}
.draft-list .draft-title {
  padding-bottom: 10px;
}
.draft-list .draft-buttons {
  margin-left: 18px;
}

/* MOBILE */
.mobile-header-wrapper {
  padding: 10px 0;
}
.mobile-header-wrapper > h1 {
  font-size: 16px;
  line-height: 24px;
}
.mobile-header-wrapper > p {
  font-size: 12px;
}
.mobile-footer-container {
  position: sticky;
  left: 0;
  bottom: 0;
  width: 100%;
  z-index: 1002;
  padding: 20px;
  border-top: 1px solid #d9d9d9;
  background-color: #fff;
}
.mobile-footer-container .icon {
  margin-bottom: -2px;
  margin-right: 10px;
  padding: 0;
  color: #000;
}
.mobile-footer-container .next {
  border-left: 1px solid #f0f0f0;
  padding: 0 12px !important;
}
.mobile-footer-container .next button {
  border: none;
  background-color: #888;
  color: #fff;
}
.mobile-footer-container .next button:hover {
  background-color: #222;
  color: #fff;
}
.sidebar-header .icon {
  color: #000;
}
/* EOL MOBILE */

/* PRINT CSS */
#print {
  padding-top: 24px;
}

#print .group-description {
  word-break: break-word;
  white-space: normal;
  font-size: 14px;
}

#print .question-container {
  line-height: 20px;
}

#print .question-dependency-wrapper {
  margin-bottom: 10px;
}

#print .question-wrapper {
  width: 100%;
}

#print .question-title,
.question-tooltip {
  word-break: break-word;
  white-space: normal;
}

#print,
.question-tooltip,
.question-type,
.question-option {
  margin-top: 5px;
}
/* EOL PRINT CSS */

.field-signature {
  width: 80%;
  height: 80%;
}

.signature-image {
  width: 100%;
  height: auto;
  border-radius: 2px;
  background-color: #fff;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
}
.field-number > div,
.field-number > div input {
  background-color: inherit !important;
  font-weight: inherit;
  color: inherit;
}
.field-number span[role="button"] {
  background-color: white !important;
}
.geo-drawing-container {
  border: 1px solid #d9d9d9;
  overflow: hidden;
  position: relative;
}

.geo-drawing-container .leaflet {
  margin-top: 0 !important;
}

.geo-drawing-container .geo-drawing-controls {
  position: absolute;
  top: 8px;
  right: 8px;
  z-index: 1000;
  background: rgba(255, 255, 255, 0.8);
  border-radius: 4px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
  padding: 8px;
}